$dark: #0b311b
$peach: #fdb59c
$mint: #b8e9cd
$light: #e9e9e9

#main-nav {
    padding: 2.5em 5%;
    .name {
        font-weight: 700;
        font-size: .7em;
        letter-spacing: 4px;
        text-transform: uppercase;
        border: 2px solid $light;
        padding: .75em 1rem;
        text-decoration: none;
        color: $dark;
        float: left;
    }
}
nav {
    float: right;
    a {
        color: $dark
        text-decoration: none;
        margin: 0 1rem;
        font-size: 1rem;
}

header {
     background-color: red;
 }
.clearfix
